* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h3 {
	margin: 20px 0;
}

table {
	border-collapse: collapse;
	width: 1200px;
	margin-top: 20px;
	text-align: center;
}

table img {
	width: 100px;
	padding: 5px
}

table thead {
	font: bold 22px/40px "微软雅黑";
	background-color: gray;
	color: #fff;
}

table.hide {
	display: none;
}

table .ck {
	width: 22px;
	height: 22px;
	vertical-align: middle;
}

table tbody input {
	width: 20px;
	text-align: center;
}

.up,.down {
	width: 20px;
}

.box {
	width: 100%;
	height: 200px;
	background: pink;
	color:black;
	font: bold 36px/200px "微软雅黑";
	text-align: center;
}

.hide {
	display: none;
}

h2 {
	float: right;
	padding: 20px;
}

h2.hide {
	display: none;
}

h2 span {
	font: bold 33px/33px "微软雅黑";
	color: red;
}